* {
 padding: 0;
 margin: 0;
 font-size: 14px;
}
html {
 scroll-behavior: smooth;
}
body {
	scroll-behavior: smooth;
}
body { 
 background-color: white;
 font-family: 'Fira Sans', sans-serif;; 
}
a {
 color: #000000;
 text-decoration: none;
}
.pop-up-success a {
	color: white;
}
.pop-up-success {
	position: fixed;
 bottom: -120px;
 left: 10px;
	background-color: #4d4d4d;
	padding: 7px;
	color: white;
	transition: 0.8s;
	box-shadow: rgba(0, 0, 0, 0.30) 1.95px 1.95px 2.6px;
	border-radius: 2px;
}
.header-line-bottom {
	border-bottom: 1px solid gray;
}
.navbar {
 position: fixed;
 top: 0;
 left: 0;
	width: 100%;
	padding: 10px;
	background-color: #f2f2f2;
	box-shadow: rgba(0, 0, 0, 0.20) 1.75px 1.75px 2.6px;
}
.navbar-link {
 height: 100%;
 padding-top: 6px;
 width: 0;
 position: fixed;
 top: 0;
 left: 0;
 background-color: #e0e0e0;
 overflow-x: hidden;
 overflow-y: hidden;
 transition: 0.5s;
 box-shadow: rgba(0, 0, 0, 0.20) 1.5px 1.5px 2.6px;
}
.navbar-link span {
	padding-right: 5px;
	right: 16px;
	position: absolute;
	color: #000000;
}
.list-item-nav {
	padding-left: 16px;
	overflow: hidden;
	transition: 0.5s;
}
.menu-link {
	padding-top: 12px;
 padding-left: 12px;
 margin-right: 12px;
}
.menu-link .show {
	color:#000000;
}
.list-item-nav a:hover {
	border-left: 5px solid #00c0ff;
}
.menu-link .fa,.fas,.fab{
	font-size: 14px;
	padding: 2px;
}
.menu-link .disabled {
	color: gray;
}
.menu-link .disabled:hover {
	color: white;
	background-color: #e01c00;
}
.menu-link .disabled:active {
	color: white;
	animation: shake 0.5s infinite;
	background-color: #e01c00;
	padding-left: 12px;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.navbar-link a {
	color: #000000;
	display: block;
	transition: 0.3s;
	padding: 5px;
	margin: 2px;
}
.navbar-link input button{
	color: white;
	display: block;
	transition: 0.3s;
	padding: 5px;
	margin: 2px;
}
.navbar-link a:hover {
	padding-left: 12px;
	color: white;
	background-color: #0085e2;
}
.menu-link #selected {
	padding-left: 12px;
	background-color: #0073e2;
	color: white;
}
#pages-content {
 transition: 0.5s;
}
.closeNav {
 top: 0;
 left: 0;
 position: fixed;
 width: 100%;
 height: 100%;
	transition: 0.5s;
	background-color: rgba(0,0,0,0.12);
}
.d-auto-slc {
	overflow: auto;
}
.d-none {
	display: none;
}
.d-inline {
 display: inline;
}
#language {
	border: none;
	padding: 7px;
	background-color: gray;
	border-radius: 3px;
	color: white;
	font-size: 14px;
	margin-top: 4px;
}
/* Background Color */
.bg-blue {
	background-color: #0081ff;
	color: white;
}
.bg-aqua {
	background-color: #00e8e8;
}
.bg-orange {
	background-color: #ff7300;
}
.bg-green-po {
	background-color: #49e800;
}
.bg-pink {
	background-color: #e813bf;
}
.bg-white {
	background-color: #f0f0f0;
}
.bg-white-or {
	background-color: white;
}
.bg-gray-po-h {
	background-color: #e9e9e9;
}
.bg-red {
 background-color: #ff1f00;
}
.sm-shadow {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px, rgba(0, 0, 0, 0.15) 1px 1px 2.6px;
}
.center {
 margin-left: auto;
 margin-right: auto;
}
.transparan {
 background-color: transparent;
}
.responsive {
	max-width: 720px;
	margin: auto;	
}
.pages {
	width: 92%;
	padding: 5px;
	height: auto;
}
.card {
	width: 94%;
	height: 100%;
	border-radius: 2px;
	border: 1px solid #e8e8e8;
}
.card .description {
	margin: 6px;
}
.card .description h3, h4, h5, h6 {
	font-weight: normal;
}
.card .description .space-text {
	margin: 7px;
}
.card .description .status {
	font-size: 10px;
}
.card .description button {
	font-size: 10px;
	float: right;
	border: none;
	padding: 6px;
	color: white;
	background-color: #006cff;
	box-shadow: rgba(0, 0, 0, 0.30) 1.0px 1.0px 1.4px;
}
.card .description button:active {
 color: white;
	background-color: #ff7300;
	box-shadow: rgba(0, 0, 0, 0.30) 0.7px 0.7px 0.9px;
}
.embed-covid-19 {
	width: 94%;
	height: 100%;
	border: 1px solid #006cff;
}
.embed-covid-19 .description {
	margin: 6px;
}
.embed-covid-19 button {
 background-color: transparent;
	padding: 9px;
	border: 1px solid #006cff;
}
.embed-covid-19 button:active {
 background-color: #006cff;
	padding: 9px;
	border: 1px solid #00c0ff;
}
.space {
	padding-top: 5px;
}
.border-sm {
	border-radius: 2px;
}
img {
	image-rendering: pixelated;
}
.border-med {
	border-radius: 6px;
}
.info-panel {
 padding: 7px;
 margin-top: -38px;
 width: 90%;
 height: auto;
	background-color: #e8e8e8;
	position: relative;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.30) 1.0px 1.0px 1.4px;
}
.info-pa-e {
	overflow: auto;
}
.info-pa-e img{
 float: right;
 width: 50px;
}
.banner {
	width: 100%;
 height: 70%;
 max-height: 270px;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
}
.title-banner {
 position: absolute;
	text-align: center;
 justify-content: center;
 font-size: 20px;
 text-shadow: 1.4px 1.4px black, 1px 1px black, 0.3px 0.3px black, 0.7px 0.7px black;
 color: white;
}
input[type=search] {
	padding: 5px;
 left: 3px;
 width: 190px;
 border: none;
}
.menu-link button {
	padding: 4px;
 left: 3px;
 width: 190px;
 border: none;
}
.menu-link button:active {
	background-color: #006cff;
}
.embed-6by19 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.embed-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.copyright {
	background-color: #ececec;
	padding: 4px;
}
.left-end {
	 float: left;
  width: 33.3%;
  top: 0;
  height: 100%;
}
.right-end {
  float: right;
  top: 0;
  width: 33.3%;
  height: 100%;
}
.main-end {
 margin: auto;
 top: 0;
 width: 33.3%;
 height: 100%;
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 600px) {
  .left-end, .main-end, .right-end {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.pages-left {
	float: left;
}
.pages-right {
	float: right;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
/* Mobile Version */
@media screen and (max-width: 500px) {
  .pages-left, .pages-right {
    width: 100%;
  }
}
