/*
  Css Create By : Ernestoyoofi
  Build Version : 3.2
  Project Type  : CSS3
  Support File  : Reactjs, Nextjs, Html, Php
  License       : Mit License
*/


/* ===== Icon ===== */
.icon {
  width: 20px;
  margin-bottom: -3.5px;
}


/* ===== Navbar ===== */
.navbar {
  width: 100%;
  position: fixed;
  top: 0; left: 0;
  background-color: #ffffff;
  box-shadow: rgba(0,0,0,0.20) 0px 0px 7px;
  z-index: 99999;
}
.navbar .navbar_respon {
  max-width: 1170px;
  width: 98%;
  margin: auto;
  display: flex;
  align-items: center;
}
.navbar .navbar_icons {
  width: 100%;
}
.navbar .navbar_links {
  width: 700px;
  display: flex;
  justify-content: flex-end;
}
.navbar .navbar_links .navbar_search{
  display: inline-block;
  padding: 0px;
  margin: 6px;
  border-radius: 5px;
  transition: 0.05s;
}
.navbar .navbar_links .navbar_search input{
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  margin: 0.3px;
}
.navbar .navbar_links .navbar_search:hover{
  background-color: transparent;
  color: #000000;
  border: none;
}
.navbar .navbar_links a{
  display: inline-block;
  padding: 7px;
  margin: 6px;
  transition: 0.25s;
  border-bottom: 2px solid transparent;
}
.navbar .navbar_links a:hover{
  border-bottom: 2px solid #4b66ff;
}
.navbar .navbar_links_m a{
  display: none;
}
@media only screen and (max-width: 700px) {
  .navbar .navbar_respon {
    max-width: 1170px;
    width: 98%;
    margin: auto;
    display: inline;
  }
  .navbar .navbar_icons {
    width: 90%;
    padding-left: 6px;
  }
  .navbar .navbar_links {
    display: inline;
  }
  .navbar .navbar_links a{
    display: none;
  }

  .navbar .navbar_links .navbar_search{
    position: fixed;
    display: inline;
    top: 2px; right: 2px;
    display: inline-block;
    padding: 0px;
    margin: 6px;
    border-radius: 5px;
    transition: 0.05s;
  }
  .navbar .navbar_links .navbar_search input{
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    margin: 0.3px;
  }
  .navbar .navbar_links .navbar_search:hover{
    background-color: transparent;
    color: #000000;
    border: none;
  }
  .navbar .navbar_links_m {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    box-shadow: rgba(0,0,0,0.20) 0px 0px 7px;
    z-index: 99999;
  }
  .navbar .navbar_links_m a{
    flex-grow: 1;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .navbar_links_m .icon{
    width: 20px;
  }
}

/* ===== Banner ===== */
.banner {
  width: 100%;
  padding: 9px;
  display: flex;
  align-items: center;
}
.banner .banner_icon {
  width: 320px;
}
.banner .banner_text {
  width: 100%;
}

/* ===== Content ===== */
.nipUp {
  padding-top: 2px;
}
.content_select {
  padding-top: 47px;
  margin: auto;
}
.content_respon {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 7px;
}
.content_label {
  margin-top: 34px;
  border-top: 2px solid #4b66ff;
}
.content_label_text {
  background-color: #4b66ff;
  padding: 4px 12px 4px 12px;
  margin-top: -30px;
  position: absolute;
  color: #ffffff;
  border-radius: 2px 2px 0px 0px;
}
.content_col_3 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.content_col_3 .content_box {
  margin: 3px;
  width: 32.6%;
}
@media only screen and (max-width: 800px) {
  .content_col_3 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .content_col_3 .content_box {
    margin: 3px;
    width: 48.3%;
  }
}
@media only screen and (max-width: 500px) {
  .content_col_3 .content_box {
    width: 100%;
  }
}
.content_col_3 .content_box .content_cardpost {
  width: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0,0,0,0.20) 0px 0px 6px;
}
.content_col_3 .content_box .content_cardpost .content_img {
  display: flex;
  width: 100%;
  height: 161px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  .content_col_3 .content_box .content_cardpost .content_img {
    display: flex;
    width: 100%;
    height: 130px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
@media only screen and (max-width: 500px) {
  .content_col_3 .content_box .content_cardpost .content_img {
    display: flex;
    width: 100%;
    height: 170px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
.content_col_3 .content_box .content_cardpost .content_text {
  padding: 10px;
}
.content_col_3 .content_box .content_cardpost .content_title {
  display: block;
  padding: 3px;
}
.content_col_3 .content_box .content_cardpost .content_desc {
  display: block;
  padding: 3px;
}
.content_col_3 .content_box .content_cardpost .content_readlink {
  display: inline-block;
  padding: 3px;
  transition: 0.5s;
}
.content_col_3 .content_box .content_cardpost .content_readlink:hover {
  color: #4b66ff;
}


/* ===== Footer ===== */
.footer {
  background-color: #4b66ff;
  color: #ffffff;
}
.footer a{
  color: #ffffff;
}
.footer .footer_respon{
  max-width: 1170px;
  width: 98%;
  padding: 12px;
  margin: auto;
}
.footer .footer_lu {
  display: flex;
}
.footer .footer_lu .footer_item{
  width: 33%;
}
.footer .footer_full_page{
  display: inline-block;
  width: 100%;
  padding: 6px;
  text-align: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 700px) {
  .footer {
    margin-bottom: 47px;
  }
}

/* ===== Tamplate ===== */
.tamplate {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.respon_yt_box {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.respon_yt {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.profile_read {
  display: flex;
  align-items: center;
}
.profile_read p {
  font-size: 14px;
}
.icons_profile {
  margin-right: 6px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #4b66ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons_profile_img {
  width: 100%;
}
.main_karya {
  width: 100%;
  padding: 6px;
  border-radius: 3px;
}
.karya_respon_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.karya_img_item {
  margin: auto;
  max-height: 450px;
}
.karya_img_item_vie {
  width: 100%;
  max-width: 500px;
}
@media only screen and (max-width: 360px) {
  .karya_img_item {
    width: 100%;
  }
}