.respon {
  width: 90%;
  max-width: 1090px;
  margin: auto;
}
.icon {
  width: 15px;
  height: 15px;
  margin-bottom: -2px;
}
.space_text {
  margin: 9px;
}
/* === 404.js Page Not Found == */
.error_container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error_container .error_info {
  box-shadow: rgba(0,0,0,0.1) 0px 0px 4px;
  border: 1px solid #ff0000;
  border-left: 7px solid #ff0000;
  padding: 12px;
  border-radius: 5px;
  display: flex;
}
.error_container .error_info .error_img {
  width: 65px;
  height: 65px;
}
.error_container .error_info .error_text {
  width: 100%;
}
@media only screen and (max-width: 610px) {
  .error_container .error_info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .error_container .error_info .error_img {
    width: 65px;
    height: 65px;
  }
  .error_container .error_info .error_text {
    width: 100%;
  }
}
/* ======== Addon ========*/
.scrollTop_Container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 6px;
}
.scrollTop_Button {
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  outline: 0px solid rgba(62, 75, 255, 0.1);
  border: 1px solid #000000;
  border-radius: 30px;
  transition: .3s;
  background-color: #ffffff;
}
.scrollTop_Button:hover{
  border: 1px solid #1e5aff;
  color: #1e5aff;
  outline: 4px solid rgba(62, 75, 255, 0.1);
}
/* ===== Close Addon ======*/
/* ==== Navbar Styles ==== */
.navbar {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  box-shadow: rgba(0,0,0,0.1) 0px 0px 7px; 
}
.navbar .respon {
  height: 100%;
}
.row_navbar {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.row_navbar .item_navbar {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.row_navbar .link_navbar {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn_navbar {
    display: none;
    padding: 4px 7px;
    cursor: pointer;
    margin-left: 4px;
}
.row_navbar .link_navbar a{
  padding: 5px;
  margin-right: 12px;
  cursor: pointer;
}
.row_navbar .link_navbar a:hover{
  color: #1e5aff;
  transition: .2s;
}
/* Responsive Pages */
@media only screen and (max-width: 732px) {
    .btn_navbar {
        display: inline-block;
    }
    .row_navbar {
        height: 100%;
        display: inline-block;
    }
    .row_navbar .item_navbar {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .row_navbar .link_navbar {
        position: fixed;
        width: 100%;
        height: 300px;
        bottom: 0px; left: 0px;
        margin-bottom: -2000px;
        display: inline-block;
        transition: .6s;
        background-color: #ffffff;
        box-shadow: rgba(0,0,0,0.1) 0px 0px 7px;
    }
    .row_navbar .link_navbar a{
        margin: auto;
        width: 90%;
        display: block;
        padding: 10px;
        color: #000000;
    }
    .row_navbar .link_navbar a:hover {
      background-color: #1e80ff;
      color: #ffffff;
    }
    .row_navbar .link_navbar form{
        margin: auto;
        width: 90%;
        display: block;
    }
    .row_navbar .link_navbar form input{
        width: 100%;
        margin-left: -6px;
        margin-top: 3px;
    }
}
/* ===  Close Navbar ===*/

/* ===== [ Docs ] ===== */
.docs_css {
  width: 100%;
}
.docs_bars {
  width: 300px;
  position: fixed;
  top: 55px;
  box-sizing: border-box;
}
.docs_bars li{
  margin-left: 20px;
}
.docs_user_card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.docs_user_card img{
  width: 25px;
  height: 25px;
  border-radius: 50px;
}
.docs_user_card .docs_ptt{
  margin-left: 10px;
}
.docs_read {
  width: 100%;
  padding-left: 305px;
  box-sizing: border-box;
}
.docs_img {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 760px) {
  .docs_css {
    width: 100%;
    display: inline-block;
  }
  .docs_bars {
    position: static;
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .docs_read {
    padding-left: 0px;
    width: 100%;
  }
}
/* ===== [ Row Views ] ===== */
.row_view_labels {
  display: inline-block;
  background-color: #4879ff;
  color: #ffffff;
  padding: 6px 12px 6px 6px;
  border-left: 6px solid #1e5aff;
}
.row_view_content {
  margin: 6px 0px;
  display: flex;
  flex-wrap: wrap;
}
.row_view_content .content {
  width: 32.3%;
}
.row_view_content .content_img {
  width: 100%;
}
.row_view_content .content_author_card {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.row_view_content .content_author_card img{
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 3px;
}
@media only screen and (max-width: 732px) {
  .row_view_content .content {
    width: 49.5%;
  }
}
@media only screen and (max-width: 470px) {
  .row_view_content .content {
    width: 100%;
  }
}